<div class="col-sm-4">
    <div>
        <a href="#"><img src="~/images/636253453692112346_IMG_17032017_110146_0.png" style=" width: 100%" alt="ads"></a>
    </div>
    <br />
    <div>
        <a href="#"><img src="~/images/636260384270812009_GalaxyA5-A7-H2.jpg" style=" width: 100%" alt="ads"></a>
    </div>
    <br />
    <div>
        <img src="~/images/201406051806116130_Giao-hang.gif" style=" width: 100%" alt="ads">
    </div>
    <!--Slide chạy ngang-->
    <div id="banner">
        <h4 style="color: gold">TOP 10 SẢN PHẨM BÁN CHẠY</h4>
        <a>Cập nhật các sản phẩm mới nhất </a>
        <div id="slideB">
            <div id="inslideB">
                <div id="inslideB1">
                    <a title="iPhone 6s 16GB" data-toggle="popover" data-trigger="hover" data-content="Camera nâng cấp đầy mạnh mẽ độ phân giải lên tới 12MP, video 4K." href="img1.html"><img src="~/images/635775058649242881_iphone-6s-1-cell.jpg" height="192" alt="product" /><img class="huychuong" src="~/images/ban-chay-gold.png"><span class="xephang">1</span></a>
                    <a title="Samsung Galaxy Note 5" data-toggle="popover" data-trigger="hover" data-content="Không chỉ có thiết kế sang trọng, Note5 sở hữu cấu hình khủng với RAM 4GB." href="img2.html"><img src="~/images/635744747929826487_note-5-1o.jpg" height="192" alt="product" /><img class="huychuong" src="~/images/ban-chay-gold.png"><span class="xephang">2</span></a>
                    <a title="Samsung Galaxy S6 Edge Plus" data-toggle="popover" data-trigger="hover" data-content="Màn hình cong tràn sang cả hai mặt sẽ tạo ấn tượng mạnh cho bạn." href="img3.html"><img src="~/images/635766091646752148_samsung-galaxy-s6-edge-plus-1o.jpg" height="192" alt="product" /><img class="huychuong" src="~/images/ban-chay-gold.png"><span class="xephang">3</span></a>
                    <a title="Sony Xperia Z5 Dual" data-toggle="popover" data-trigger="hover" data-content="Camera chụp hình siêu nét lên đến 23MP. Bạn đã thử chưa?" href="img4.html"><img src="~/images/635774143962956605_z5-1o.jpg" height="192" /><img class="huychuong" src="~/images/ban-chay-silver.png"><span class="xephang">4</span></a>
                    <a title="iPad Mini 2 16GB Wifi" data-toggle="popover" data-trigger="hover" data-content="Màn hình Retina tuyệt đẹp, cùng kích thước nhỏ gọn tiện lợi." href="img5.html"><img src="~/images/201402071111339430_ipad%20mini%20-1.jpg" height="192" /><img class="huychuong" src="~/images/ban-chay-silver.png"><span class="xephang">5</span></a>
                    <a title="Samsung Tab S2 9.7 inch (T815)" data-toggle="popover" data-trigger="hover" data-content="Mỏng, nhẹ, tài. Đỉnh phong thái." href="img6.html"><img src="~/images/635742125709948504_tabS28inch-1o.jpg" height="192" /><img class="huychuong" src="~/images/ban-chay-silver.png"><span class="xephang">6</span></a>
                    <a title='Dell N3558/i3-4005U/15.6"' data-toggle="popover" data-trigger="hover" data-content="Laptop cấu hình mạnh mẽ với mức giá dễ chịu." href="img7.html"><img src="~/images/635738449900189693_DELL-3558-1cells.jpg" height="192" /><img class="huychuong" src="~/images/ban-chay-brown.png"><span class="xephang">7</span></a>
                    <a title="Asus F555LF-XX166D/Core i5 5200U/VGA 2G" data-toggle="popover" data-trigger="hover" data-content="Thiết kế mỏng nhẹ, cùng màn hình HD sắc nét." href="img8.html"><img src="~/images/635748155367330227_Asus-F555LF-XX166D-1cells.jpg" height="192" /><img class="huychuong" src="~/images/ban-chay-brown.png"><span class="xephang">8</span></a>
                    <a title="Asus F454LA-WX463D/Core i3 4005U" data-toggle="popover" data-trigger="hover" data-content="Thiết kế bắt mắt cùng màn hình HD LED độc đáo thu hút từ cái nhìn đầu tiên." href="img9.html"><img src="~/images/635756802137069430_Asus-F454lA-1cells.jpg" height="192" /><img class="huychuong" src="~/images/ban-chay-brown.png"><span class="xephang">9</span></a>
                    <a title='Dell N5558/i7/15.6"/VGA 4GB/Win8.1' data-toggle="popover" data-trigger="hover" data-content="Màn hình lớn, cấu hình khủng, tích hợp Windows 8.1 bản quyền, tất cả trong 1" href="img10.html"><img src="~/images/635738693950943545_DELL-INS-N5558-1cells.jpg" width="183" height="205" /><img class="huychuong" src="~/images/ban-chay-brown.png"><span class="xephang" style="right: -10px">10</span></a><div id="inslideB2"></div>
                </div>
            </div>
        </div>
    </div>
    <h3 style="text-align: center; color: red; background-color: #88c9ff; display: inline-block; width: 100%; height: 35px; line-height: 35px"><i class="fa fa-map-marker" style="font-size:24px"></i>Cửa hàng TB Shop</h3>
    <iframe style="width: 100%; max-height: 300px; border: none" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d958.4811631699943!2d108.22214802915971!3d16.069399288009233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218309d38784d%3A0x4de453c0f0263dde!2sSOFTECH+CORPORATION!5e0!3m2!1svi!2s!4v1449918047160" width="600" height="450" frameborder="0" allowfullscreen></iframe>
    <div id="myScrollspy" style="position: relative">
        <a href="http://fptshop.com.vn/tin-tuc/tin-moi/moi-tai-ve-azar-ung-dung-tuyet-voi-danh-cho-dan-fa-35288">
            <img style="cursor: pointer; width: 100%" src="~/images/16bb35db6d9eb21532155f3cee73d515.png">
        </a>
    </div>
</div>
